body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;

    --invertProsent: 100%;
    --color1: #1a202c;
    --color2: #2d3748;
    --color3: #4a5568;
    --color4: #718096;
    --color5: #a0aec0;

    background-color: var(--color3);
    transition: height 0.3s ease
}


body.light {
    --invertProsent: 0%;
    --color1: #787878;
    --color2: #ababab;
    --color3: #e3e3e3;
    --color4: #e7e7e7;
    --color5: #242424;
}

.meny {
    user-select: none;
    display: block;
    position: fixed;
    width: 100%;
    height: 90%;
    background-color: var(--color1);
    transition: height 0.3s ease, background-color 0.3s ease;
}

.scroll {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.meny.scroll {
    height: 100px; /* Set the height when scrolled */
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    height: clamp(200px, 20vw, 450px);
    width: auto;
}

.scroll .logo img {
    display: block;
    width: 70px;
    height: 70px;
    margin: 10px;
}

.scroll .knapper {
    display: flex;
}

.menyElement {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: var(--color3);
    text-decoration: none;
    border-bottom: var(--color2) 3px solid;
    width: 40%;
    margin: 0 auto;
}

.scroll .menyElement {
    display: flex;
    flex-direction: column;
    width: clamp(50px, 13vw, 150px);
}

.scroll .menyElement {
    border-bottom: none;
    border-left: var(--color3) 3px solid;
}

.scroll .menyElement:first-child {
    border: none;
}

.menyTekst {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--color4);
    text-decoration: none;
    font-size: 2rem;
}

.scroll .menyTekst {
    display: block;
    text-align: center;
    color: var(--color4);
    text-decoration: none;
    font-size: clamp(1rem, 1.8vw, 1.6rem);
}

.menyTekst:hover {
    color: var(--color5);
    text-decoration: underline;
}

.byttFarge {
    position: fixed;
    right: 15px;
    bottom: 14%;
}

.byttFarge img{
    filter: invert(var(--invertProsent));
    cursor: pointer;
    width: 100px;
    height: auto;
}

.scroll .byttFarge{
    display: none;
}

.spacer {
    height: 95vh;
}

.meny.scroll ~ .spacer {
    height: 230px;
}

.nedIkon {
    position: fixed; 
    top: 90%; 
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
}

.nedIkon img {
    width: 70px;
    height: auto;
    filter: contrast(50%);
}

/* Hide the nedIkon when the meny is scrolled - ChatGPT*/
.meny.scroll ~ .nedIkon {
    opacity: 0;
}

.innholdBoks {
    display: block;
    margin-bottom: clamp(10px, 3vw, 100px);
    margin-inline: clamp(5px, 5vw, 100px);
    background-color: var(--color1);
    border-radius: 10px;
}

.innholdBoks h1 {
    color: var(--color5);
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    text-align: center;
    border-bottom: var(--color3) 1px solid;
    width: 40%;
    font-size: 3rem;
}

.innhold {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}



.innhold p {
    color: var(--color5);
    padding-bottom: 30px;
    font-size: clamp(1rem, 1.8vw, 1.6rem);
    padding-right: 30px;
}

.innhold img {
    width: clamp(100px, 40vw, 600px);
    height: auto;
    border-radius: 5px;
    marg
}

.tekst{
    padding-right: 20px;
}

.alternativer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.alternativ {
    display: block;
    width: clamp(100px, 28vw, 600px);
    background-color: var(--color2);
    border-radius: 5px;
    margin-bottom: 20px;
}

.alternativ img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.alternativ p {
    color: var(--color5);
    padding: 10px;
    text-align: center;
    font-size: clamp(1rem, 1.8vw, 1.7rem);
}

@media screen and (max-width: 900px) {
    .innhold {
        flex-direction: column-reverse;
    }

    .innhold img {
        width: clamp(100px, 82vw, 800px);
    }

    .innholdBoks h1 {
        width: 80%;
    }

    .alternativer {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .alternativ {
        width: clamp(100px, 80vw, 600px);
    }
}
